<h1>Add product</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Nazwa Produktu</mat-label>
    <input matInput formControlName="productName" required>
    <mat-error *ngIf="productForm.get('productName')?.errors">
      Nazwa produktu jest wymagana.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cena Produktu</mat-label>
    <input matInput formControlName="productPrice" type="number" required>
    <mat-error *ngIf="productForm.get('productPrice')?.errors">
      Cena produktu jest wymagana.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Opis Produktu</mat-label>
    <textarea matInput formControlName="productDescription" required></textarea>
    <mat-error *ngIf="productForm.get('productDescription')?.errors">
      Opis produktu jest wymagany.
    </mat-error>
  </mat-form-field>

  <div>
    <input type="file" #fileInput id="file" (change)="onFileSelect($event)" multiple [accept]="'.jpg,.png,.jpeg'" hidden>
    <button mat-stroked-button color="primary" (click)="fileInput.click()">Wgraj Zdjęcia</button>
  </div>
  <div class="thumbnails">
    <div *ngFor="let fileHandler of selectedFiles; let i = index" class="thumbnail">
      <img [src]="fileHandler?.url" alt="miniaturka">
      <div class="thumbnail-details">
        <span>{{ fileHandler.file }}</span>
        <button mat-mini-fab color="warn" class="remove-button" (click)="removeFile(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Przycisk Submit -->
  <button mat-raised-button color="accent" type="submit" [disabled]="!productForm.valid">Dodaj Produkt</button>

</form>